section#Nomprenom , section#Coordonnées  {
    font-weight: bold;
    text-align: center; 
    background-color:#009dae;
    border-radius: 5px;
    box-shadow: 5px 5px 2px 2px black;
}


section#Ojectifs,section#Formation,section#Expérience,section#occupation,section#Compétences,section#Langues,section#Intérêt,footer {
    clear: both;

}
h3 {
    position: relative;
    left :225px;
    text-decoration: underline;
}


footer p  {
    text-align: left ;
    display: inline;
}

.langue,.niveau_de_langue,.type,.intérêt , .compétence , .time, .occupation, .Lieux{
    float: left; 
    width: 25%;
    margin: 0 10px 0 0 ; 
}
.Lieux {
    margin-right: 0px;
    text-align: right;
}
 .time , .type , .langue, .bio{
    position: relative;
    padding-left: 8% ;
   
} 

img {
    height: 20px;
    width: 20px;
    display: inline;
}