

/* HEADER*/

header {
    height: 5rem;
    background-color: #C1BFB5;
    display: flex;
    justify-content: center;
    align-items:end;
    font-weight: bolder;
    font-size: 2rem;
    box-shadow: 0 0.2rem 0 0 black;
    
}

/* MAIN*/

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
    text-align: center;
    padding: 10rem;
    font-size: 2rem;
    font-weight: bolder;
}


@media screen and (max-width: 500px) {
    main {
        padding: 1rem;
        padding-top: 5rem;
        padding-bottom: 4rem;
       
    }
    
}

/* FOOTER*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: #C1BFB5;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer img {
    height: 2rem;
    width: 2rem;
    margin: 0 1rem;
}

@media screen and (max-width: 400px) {
    footer {
        height: fit-content;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    
    footer img {
        height: 2rem;
        width: 2rem;
        margin: 0.5rem 0.5rem;
    }
    
}